<!-- 리뷰관리 답변하기 버튼 클릭시 모달창 -->
<form action="/update/reviewReply" method="post">

<div class="admin__review" style="display: block; margin: 0 auto;">
  <div class="admin__review__inner">

    <div class="top">
      <span th:text="'주문번호 '+${showReview.review_id}">주문번호 12345678</span>
    </div>

    <div class="middle">
      <p th:text="${showReview.product_name}">프리미엄 고당도 꿀수박</p>
      <input type="text" th:value="${showReview.review_text}">
      <span th:text="${showReview.user_email}+' | ' +${showReview.created_at}+' 작성'">불타는너구리 | 2023. 07. 01 (13:10:10) 작성</span>
      <div class="line"></div>
    </div>


    <div class="bottom">
      <p>리뷰답변</p>
      <input type="text" name="review_text" th:value="${showReview.review_reply}">
      <input type="hidden" name="review_id" th:value="${showReview.review_id}">
<!--      <span>15 / 500</span>-->

      <div class="admin__review__buttons">
        <button onclick="hideModal_showReview()">
          <a>취소하기</a>
        </button>
        <button type="submit">
          <a  th:if="${showReview.review_reply == null || showReview.review_reply == ''}">답변하기</a>
          <a  th:if="${showReview.review_reply != ''}">수정하기</a>
        </button>
      </div>
    </div>

  </div>
</div>


</form>