<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="./img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="./favicon.ico" />

    <!--브라우저 스타일 초기화-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />

    <!--Google Fonts - 나눔고딕-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <!-- Google Fonts - Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">


    <!--Google Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="./css/style.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
        integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script defer src="./js/main.js"></script>
</head>

<body>

    <!-- HEADER -->
    <header id="admin_notification_header">
        <div class="inner">

            <a href="./index.html" class="logo">
                <img src="./img/푸릇푸릇 로고.png" alt="logo" />
            </a>

            <ul class="main-menu">
                <li class="item">
                    <div class="item__name">
                        <a href="./dashboard.html">
                            <span class="material-symbols-outlined">dashboard</span>
                            대쉬보드</a>
                    </div>
                </li>

                <li class="item">
                    <div class="item__name">
                        <a href="./banner.html">
                            <span class="material-symbols-outlined">photo_library</span>
                            배너관리</a>
                    </div>
                </li>

                <li class="item">
                    <div class="item__name">
                        <a href="./product.html">
                            <span class="material-symbols-outlined">shopping_cart</span>
                            상품관리</a>
                    </div>
                </li>

                <li class="item">
                    <div class="item__name">
                        <a href="./review.html">
                            <span class="material-symbols-outlined">rate_review</span>
                            리뷰관리</a>
                    </div>
                </li>

                <li class="item">
                    <div class="item__name">
                        <a href="./member.html">
                            <span class="material-symbols-outlined">groups</span>
                            회원관리</a>
                    </div>
                </li>

                <li class="item">
                    <div class="item__name">
                        <a href="./notification.html">
                            <span class="material-symbols-outlined">notifications</span>
                            알림관리</a>
                    </div>
                </li>
            </ul>

        </div>
    </header>


    <section id="admin_nofitication02">
        <div class="inner">
            <div class="title">
                <h2>알림등록</h2>
            </div>

            <div class="admin_product02__wrap">
                <label for="notificationName" class="notificationName">
                    <p> 알림명</p>
                    <input type="textbox" name="notificationName" value="알림명을 입력해주세요." id="notificationName">
                </label>

                <label for="sort" class="sort">
                    <p> 발송형식 </p>
                    <button>자동발송</button>
                    <button>수동발송</button>
                </label>

                <label for="type">
                    <p> 알림 전송 대상 </p>
                    <select name="type" id="type">
                        <option value="전체회원">전체회원</option>
                        <option value="지정회원">지정회원</option>
                    </select>
                </label>

                <label for="when">
                    <p> 발송시점 </p>
                    <select name="when" id="when">
                        <option value="리뷰답변완료시점">리뷰 답변 완료 시점</option>
                        <option value="결제완료시점">결제 완료 시점</option>
                    </select>
                </label>

                <label for="search" class="search">
                    <p> 검색 </p>
                    <select name="search" id="search">
                        <option value="상품명">상품명</option>
                        <option value="회원명">회원명</option>
                    </select>
                    <input type="text" placeholder="에 판매자 답변이 등록되었습니다.">
                </label>

            </div>

            <div class="buttons">
                <button>취소하기</button>
                <button>등록하기</button>
            </div>



            <!-- 어드민 알림관리 취소하기 버튼 클릭 시 모달창 -->
            <div class="admin__notification" style="display: none;">
                <div class="admin__notification__inner">

                    <div class="top">
                        <span>알림</span>
                    </div>

                    <div class="middle">
                        <p>작성중인 내용이 모두 삭제됩니다. <br>
                            취소하시겠습니까?</p>
                    </div>


                    <div class="bottom">
                        <button>취소하기</button>
                        <button>계속작성</button>
                    </div>
                </div>

            </div>

            <!-- 어드민 알림관리 등록하기 버튼 클릭 시 모달창 -->
            <div class="admin__notification__confirm" style="display: none;">
                <div class="admin__notification__confirm__inner">

                    <div class="top">
                        <span>알림</span>
                    </div>

                    <div class="middle">
                        <p>알림등록이 완료되었습니다.</p>
                    </div>


                    <div class="bottom">
                        <button>확인</button>
                    </div>
                </div>

            </div>
        </div>
    </section>


</body>

</html>