<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="/user/img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="/user/favicon.ico" />

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>
    <th:block th:insert="~{includes/main_scripts}"></th:block>

</head>

<body>

<!-- HEADER -->
<header id="header">
    <div class="inner">

        <a href="/user/index.html" class="logo">
            <img src="/user/img/푸릇푸릇 로고.png" alt="logo" />
        </a>

        <div class="sub-menu">
            <ul class="menu">
                <li>
                    <a href="login">Sign In</a>
                </li>
                <li>
                    <a href="join">Join</a>
                </li>
                <li>
                    <a href="javascript:void(0)">language</a>
                </li>
            </ul>
        </div>

        <ul class="main-menu">
            <li class="item">
                <div class="item__name">HOME</div>
            </li>

            <li class="item">
                <div class="item__name">
                    <a href="search">상품소개</a>
                </div>
            </li>

            <li class="item">
                <div class="item__name">
                    <a href="/user/search.html">구매내역</a>
                </div>
            </li>

            <li class="item">
                <div class="item__name">마이페이지</div>
            </li>

            <li class="item">
                <div class="item__name red">
                    장바구니
                    <span class="material-icons">
                            shopping_cart
                        </span>

                </div>
            </li>
        </ul>

    </div>
</header>

<!-- VISUAL -->
<section id="visual">
    <div class="promotion">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/user/img/1.png" alt="1번 슬라이드" />
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/2.png" alt="2번 슬라이드" />
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/3.png" alt="3번 슬라이드" />
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/4.png" alt="4번 슬라이드" />
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/5.png" alt="5번 슬라이드" />
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/6.png" alt="6번 슬라이드" />
                </div>
            </div>
        </div>

        <!-- 슬라이드 좌측, 우측 화살표 -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>


        <!-- 슬라이드 페이지버튼 -->
        <div class="swiper-pagination"></div>

    </div>
</section>

<!-- 검색창 -->
<section id="search">
    <div class="inner">

        <!-- 검색창 -->
        <input id="searchKeyword" type="text" placeholder="# 검색어를 입력해주세요.">

        <!-- 돋보기 아이콘 -->
        <span class="material-icons">search </span>

        <!-- 필터 -->
        <div class="buttons">
            <button class="category-btn" value="Spring">봄과일</button>
            <button class="category-btn" value="Summer">여름과일</button>
            <button class="category-btn" value="Fall">가을과일</button>
            <button class="category-btn" value="Winter">겨울과일</button>
<!--            <button>열대과일</button>-->
<!--            <button>하우스과일</button>-->
        </div>

    </div>
</section>

<div id="aside">
    <div class="sidebar">
        <ul>

            <!-- 마이페이지 -->
<!--            <li>-->
<!--                <a href="#">-->
<!--                    <span class="material-symbols-outlined">person</span>-->
<!--                    <p>홍길동님</p>-->
<!--                </a>-->

<!--                <div class="line"></div>-->
<!--            </li>-->

            <li th:if="${loggedIn == true }">
                <a href="#">
                    <span class="material-symbols-outlined">person</span>
                    <p th:text="${loggedInEmail}"></p>
                </a>
                <div class="line"></div>
            </li>

            <li th:if="${loggedIn == false }">
                <a href="#">
                    <span class="material-symbols-outlined">person</span>
                    <p>로그인</p>
                </a>
                <div class="line"></div>
            </li>











            <!-- 장바구니 -->
            <li class="right__cart">
                <a href="#">
                    <span class="material-symbols-outlined">shopping_cart</span>
                    <p>장바구니</p>
                    <div class="cart__count" th:if="${cart_total != null}" th:text="${cart_total}"></div>
                </a>
            </li>

            <!-- 찜 -->
            <li class="right__favorite">
                <a href="#">
                    <span class="material-icons">favorite</span>
                    <p>찜</p>
                    <div class="favorite__count" th:if="${like_total != null}" th:text="${like_total}"></div>
                </a>

                <div class="line"></div>
            </li>

            <!-- 최근 본 상품 -->
            <li class="last">
                <a href="#">
                    <p>최근 본 상품</p>
                    <ul>
                        <li th:each="entry : ${recentData}">
                            <img th:src="${entry.value}" alt="상품 이미지" th:value="${entry.key}">
                        </li>
                    </ul>
                    <span class="material-symbols-outlined">keyboard_double_arrow_up</span>
                    <p>맨 위로</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- 상품리스트 -->
<section id="products">

    <div class="inner">

        <!-- 상품 리스트 -->
        <ul id="axiosBody">

            <!-- 오렌지 -->
            <!--            class="cart__click"-->
            <li class="cart__click" th:each="p : ${pageInfo.list}" >
                <input class="productInitPrice" type="hidden" th:value="${p.price}">
                <input class="productDiscountPrice" type="hidden" th:value="${p.price * p.rate} / 100">
                <input class="productDiscountedPrice" type="hidden" th:value="${p.price - (p.price * p.rate / 100)}">
                <input class="productDiscount" type="hidden" th:value="${p.rate}">

                <!-- 클릭 시 상세페이지 이동 -->
<!--                <a th:href="@{user/productDetail(productId=${p.id})}">-->
                <a th:href="@{detail/{id}(id=${p.id})}">

                    <!-- 상품 사진 -->
                    <img class="productImage" th:src="${p.file_name}" th:value="${p.id}" alt="상품 이미지" onclick="saveImageInfo(this)">

                </a>


                <div class="icons">
                    <!-- 좋아요 기능 기본 하트 아이콘-->
                    <a  th:id="'like_'+${p.id}" th:if="${p.like_status == 'liked'}">
                        <span th:id="${p.id}" class="material-icons red__heart" onclick="handleFavoriteClick(this)">favorite</span>
                    </a>

                    <a  th:id="'like_'+${p.id}" th:if="${p.like_status == 'not liked'}">
                        <span th:id="${p.id}" class="material-symbols-outlined" onclick="handleFavoriteClick(this)">favorite</span>
                    </a>




                    <!-- 장바구니 카트 아이콘 -->
                    <a th:id="'cart_'+${p.id}" th:if="${p.cart_status == 'carted'}">
                        <span th:id="${p.id}" class="material-icons" onclick="handleFavoriteClick2(this)">shopping_cart</span>
                    </a>
                    <a th:id="'cart_'+${p.id}" th:if="${p.cart_status == 'not carted'}">
                        <span th:id="${p.id}" class="material-symbols-outlined" onclick="handleFavoriteClick2(this)">shopping_cart</span>
                    </a>
                </div>

                <!-- 수량 증감 버튼 -->
                <div class="cart">
                    <div class="inner">
                        <button th:id="'decrement_'+${p.id}" th:data="${p.id}" onclick="handleQuantityChange(this, -1)">-</button>
                        <input type="text" th:id="'quantity_'+${p.id}" th:value="${p.cart_count}" onchange="handleQuantityChange(this, 0)">
                        <button th:id="'increment_'+${p.id}" th:data="${p.id}" onclick="handleQuantityChange(this, 1)">+</button>
                    </div>
                </div>

                <!-- 상품 -->
                <div class="txt">
                    <!-- 상품명 -->
                    <div class="title">
                        <span class="productName" th:text="${p.name}"></span>

                    </div>

                    <!-- 상품 가격 -->
                    <div  th:text="${p.price - (p.price * p.rate / 100)}+원">

                    </div>
                </div>

            </li>



        </ul>

    </div>

    <div class="pagination" id="pagination">


        <th:block th:if="${pageInfo.hasPreviousPage}">
            <a th:href="@{/page(pageNum=${pageInfo.prePage}, categoryName=${pageInfo.category_name})}" class="prevBtn" th:value="${pageInfo.prePage}">
                <span class="material-symbols-outlined">chevron_left</span>
            </a>
        </th:block>


        <p class="numbers">
                    <span th:each="pageNumber : ${pageInfo.navigatepageNums}" th:if="${pageNumber <= pageInfo.total}">
                      <a th:text="${pageNumber}" th:href="'#'" class="numberBtn" th:attr="value=${pageNumber}" th:classappend="${pageNumber == pageInfo.pageNum ? 'bold large-text' : ''}"
                         style="font-size: 16px; font-weight: bold;"></a>
                    </span>
        </p>

        <th:block th:if="${pageInfo.hasNextPage}">
            <a th:href="'#'" class="nextBtn" th:value="${pageInfo.nextPage}">
                <span class="material-symbols-outlined">chevron_right</span>
            </a>
        </th:block>
    </div>
</section>


<footer id="footer">
    <div class="inner">
        <h1>
            <img src="/user/img/푸릇푸릇 로고.png" alt="로고">
        </h1>
        <ul>
            <li>
                <a href="#">Policy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">Customer</a>
            </li>
            <li>
                <a href="#">Contact us</a>
            </li>
        </ul>

        <address>
            <span>(주)콜론비</span>
            <br>
            사업자등록번호 123-12-12345
            <br />
            통신판매업 신고번호 제2023-서울-1234호
            <br>
            대표 한동윤 | 개인정보 책임자 한동윤
            <br>
            서울 특별시 강남구 강남대로 123
            <br>
            <br>
            고객센터: 02-1544-1234
            <br>
            제휴문의: echel@colon-b.com
        </address>

        <p>
            Copyright &copy; 2023 Colon:B. ALL Right reserved.
        </p>
    </div>
</footer>

</body>

<script>
    function saveImageInfo(imgElement) {
        // 이미지 태그로부터 p.file_name과 p.id 값을 읽어옵니다.
        var imageUrl = imgElement.getAttribute('src');
        var product_id = imgElement.getAttribute('value');




        // 데이터 객체 생성
        var data = {
            imageUrl: imageUrl,
            product_id: product_id
        };

        axios({
            method: 'post',
            url: '/save-product-info', // 실제 엔드포인트 주소로 대체
            data: JSON.stringify(data), // 데이터를 JSON 문자열로 변환
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.data != null) {

            }
        });
    };
</script>
<!-- Swiper 슬라이더 스크립트 초기화 -->
<script>
    var swiper = new Swiper('.swiper', {
        loop: true, // 무한 루프
        pagination: {
            el: '.swiper-pagination', // 페이징 요소
            clickable: true, // 페이징 클릭 가능하도록
        },
        navigation: {
            nextEl: '.swiper-button-next', // 다음 버튼
            prevEl: '.swiper-button-prev', // 이전 버튼
        },
        autoplay: {
            delay: 3000, // 슬라이드 간의 딜레이 시간 (밀리초 단위)
            disableOnInteraction: false, // 사용자 상호 작용 후에도 자동 재생 유지
        },
    });
</script>
<script>
    function handleFavoriteClick(element) {
        // 클릭된 요소에서 아이디 값을 가져옵니다.
        var productId = element.id;

        // 아이디 값을 axios로 서버로 전송하거나 원하는 동작을 수행합니다.
        // 예를 들어, axios를 사용하여 서버로 전송할 경우:

        // 데이터 객체 생성
        var data = {
            productId: productId
        };

        axios({
            method: 'post', // 또는 다른 HTTP 메서드
            url: '/like', // 실제 서버 엔드포인트 주소
            data: JSON.stringify(data), // 데이터를 JSON 문자열로 변환
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {


            // 서버 응답 처리
            console.log('서버 응답:', response);

            $(".cart__count").empty();
            $(".cart__count").append(response.data.cart_total);

            $(".favorite__count").empty();
            $(".favorite__count").append(response.data.like_total);



            const html_1 = `
                <span id="${response.data.productId}" class="material-icons red__heart" onclick="handleFavoriteClick(this)">favorite</span>

            `



            const html_2 = `
                <span id="${response.data.productId}" class="material-symbols-outlined" onclick="handleFavoriteClick(this)">favorite</span>

            `







            if(response.data.like == 1) {


                $("#" + "like_" + response.data.productId).empty()
                $("#" + "like_" + response.data.productId).append(html_2);


            }

            if(response.data.like == 2) {


                $("#" + "like_" + response.data.productId).empty()
                $("#" + "like_" + response.data.productId).append(html_1);


            }


// 서버에서 반환한 아이디를 가진 태그를 식별하여 클래스 변경


        }).catch(error => {
            // 오류 처리
            console.error('오류:', error);
        });
    }

</script>
<script>
    function handleFavoriteClick2(element) {
        // 클릭된 요소에서 아이디 값을 가져옵니다.
        var productId = element.id;

        var quantityInput = document.getElementById(`quantity_${productId}`);
        var quantity = quantityInput.value;




        // 데이터 객체 생성
        var data = {
            productId: productId,
            quantity: quantity
        };

        axios({
            method: 'post', // 또는 다른 HTTP 메서드
            url: '/cart', // 실제 서버 엔드포인트 주소
            data: JSON.stringify(data), // 데이터를 JSON 문자열로 변환
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {


            // 서버 응답 처리
            console.log('서버 응답:', response);


            $(".cart__count").empty();
            $(".cart__count").append(response.data.cart_total);

            $(".favorite__count").empty();
            $(".favorite__count").append(response.data.like_total);


            const html_1 = `
                <span id="${response.data.productId}" class="material-icons" onclick="handleFavoriteClick2(this)">shopping_cart</span>

            `



            const html_2 = `
                <span id="${response.data.productId}" class="material-symbols-outlined" onclick="handleFavoriteClick2(this)">shopping_cart</span>

            `







            if(response.data.cart == 1) {


                $("#" + "cart_" + response.data.productId).empty()
                $("#" + "cart_" + response.data.productId).append(html_2);


            }

            if(response.data.cart == 2) {


                $("#" + "cart_" + response.data.productId).empty()
                $("#" + "cart_" + response.data.productId).append(html_1);


            }


// 서버에서 반환한 아이디를 가진 태그를 식별하여 클래스 변경


        }).catch(error => {
            // 오류 처리
            console.error('오류:', error);
        });
    }

</script>
<script>
    function handleQuantityChange(element, change) {
        // 클릭된 요소에서 아이디 값을 가져옵니다.
        var productId = element.getAttribute('data');

        var quantityInput = document.getElementById(`quantity_${productId}`);
        var quantity = parseInt(quantityInput.value);

        // change 값이 1 또는 -1이 아닌 경우, 기본값 1로 설정
        if (change !== 1 && change !== -1) {
            change = 1;
        }

        // 수량 증감 처리
        quantity += change;

        // 수량이 0 미만으로 내려가지 않도록 처리
        if (quantity < 1) {
            quantity = 1;
        }

        // 업데이트된 수량을 입력 필드에 설정
        quantityInput.value = quantity;


        // 데이터 객체 생성
        var data = {
            productId: productId,
            quantity: quantity
        };

        axios({
            method: 'post',
            url: '/cart_update',
            data: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            // 서버 응답 처리
            console.log('서버 응답:', response);
        }).catch(error => {
            // 오류 처리
            console.error('오류:', error);
        });
    }

</script>



</html>