<script src="/user/js/main.js" type="text/javascript"></script>
<script src="/user/js/join.js" type="text/javascript"></script>
<script src="/user/js/emailchk.js" type="text/javascript"></script>
<script src="/user/js/nicknamechk.js" type="text/javascript"></script>
<script src="/user/js/pwdchk.js" type="text/javascript"></script>
<script src="/user/js/word2to10.js" type="text/javascript"></script>
<script src="/user/js/checkbox.js" type="text/javascript"></script>
<script src="/user/js/findpw.js" type="text/javascript"></script>
<script src="/user/js/changepw.js" type="text/javascript"></script>
<script src="/user/js/payment.js" type="text/javascript"></script>
<script src="/user/js/payment_final.js" type="text/javascript"></script>
